body {
    margin: 0;
    font-family: "Calibri", sans-serif;
    font-size: 2dvmin;
}

* {
    position: relative;
    z-index: 10;
}

body > div#background {
    position: fixed;
    top: 0;
    height: 100dvh;
    width: 100dvw;
    background-image: linear-gradient(to bottom right, #00CC66, purple);
    z-index: 1;
}

nav#toolbar {
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 20;
}

nav#toolbar > form {
    display: inline;
}

nav#toolbar button {
    background-color: black;
    color: white;
    padding: 3dvh 1.5dvw;
    cursor: pointer;
    border: 0;
    transition: background-color 0.3s ease-in-out;
}

nav#toolbar button:hover {
    background-color: #555555;
}

nav#toolbar button:active {
    color: #00CC66;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    row-gap: 2mm;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.card {
    border: 0;
    border-radius: 10px;
    box-shadow: 7px 7px 5px black;
    background-color: white;
    padding: 2mm;
    height: fit-content;
    width: 70dvw;
}

button:hover, form.button:hover {
    cursor: pointer;
}
