{% extends 'base.html' %}

{% block title %}Accounts{% endblock %}

{% block body %}
{% for account in accounts %}
  <form action="/accounts/{{ account.id }}/" style="margin: 20px auto 0; width: 40vw;" class="card flex-container button">
    <button style="flex-direction: column; background-color: white; border: none; width: 100%; height: 100%;" class="flex-container">
      <h3>{{ account.id }}</h3>
      <p>
        {{ account.type | capitalize }}
      </p>
      {% if account.r is not none %}
        <p>
          {{ account.r }}%
        </p>
      {% endif %}
      {% if account.term is not none %}
        <p>
          {{ account.term }}
        </p>
      {% endif %}
      <p>
        ${{ account.balance }}
      </p>
    </button>
  </form>
{% endfor %}
{% endblock %}
