{% extends 'base.html' %}

{% block title %}Direct Transfer{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <script src="{{ url_for('static', filename='js/form.js') }}" defer></script>
{% endblock %}

{% block body %}
  <form class="centered flex-container card" method="post">
    <h2>Direct Transfer</h2>
    {% if not exists %}
      <p style="background-color: lightcoral;" class="notice">
        The member to whom you attempted send money does not exist.
      </p>
    {% endif %}
    {% if remaining != "" %}
      {% if remaining < 0 %}
        <p style="background-color: lightcoral;">
          You were ${{ -remaining/100 | round(2) }} short, so you couldn't make the transaction of ${{ charged/100 | round(2) }}
        </p>
      {% else %}
        <p>
          Transaction complete! You were charged ${{ charged/100 | round(2) }} and have ${{ remaining/100 | round(2) }} left.
        </p>
      {% endif %}
    {% endif %}
    <input name="to" type="number" min="1000000000" max="9999999999" placeholder="To (10-digit Member ID)" required>
    <input name="amount" type="number" step="0.01" min="0.01" placeholder="Amount ($)" required>
    <button>Send!</button>
  </form>
{% endblock %}
