{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <div>
    <h2 style="text-align: center;">Balance: ${{ balance | round(2) }}</h2>
    <div class="flex-container"
         style="flex-wrap: nowrap;
                padding: 10px;
                overflow-x: auto;
                gap: 10vw">
      {% for account in accounts %}
        <div style="flex-direction: column;" class="card flex-container">
          <h3>{{ account.id }}</h3>
          <p>{{ account.type | capitalize }}</p>
          <p>${{ account.balance }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
