{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
  <div class="centered card" style="height: fit-content; width: 50%;">
    <h2>La Banque, your one-stop destination for all your banking needs.</h2>
    <p>
      Not a member yet? <a href="/sign-up/">Join</a> today!
    </p>
    <p>
      La Banque has everything you need. You get a free checking account
      just for becoming a member. Our checking accounts work seamlessly with our
      checkout devices, so you easily can make payments at any store equipped with
      our ubiquitous devices!
    </p>
    <p>
      We also have savings accounts and CDs with great interest rates
      for you (you must have a high enough credit score to be
      eligible)!
    </p>
    <p>
      Build credit score buy diligently paying off the low-interest
      loans and credit cards we offer!
    </p>
    <p>
      Send money directly to any bank account for easy payments!
    </p>
  </div>
{% endblock %}
