{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
  <div class="centered card" style="height: fit-content; width: 50%;">
    <h2>La Banque, your one-stop destination for all your banking needs.</h2>
    <p>
      Not a member yet? <a href="/sign-up/">Join</a> today!<br><br>
      La Banque has everything you need. You get a free checking account
      just for becoming a member (you still have to buy a debit card
      for debit card access). Our debit cards work seamlessly with our
      scanner devices, so they will function at any store equipped with
      our ubiquitous scanners!<br><br>
      We also have savings accounts and CDs with great interest rates
      for you (you must have a high enough credit score to be
      eligible)!<br><br>
      Build credit score buy diligently paying off the low-interest
      loans we offer!<br><br>
      Send money directly to any bank account for easy payments!
    </p>
  </div>
{% endblock %}
